<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--<link href="css/battleField.css" rel="stylesheet" type="text/css" media="all">-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>あなたの戦艦の位置を決めてください</p>
<form action='positionSetting' method='post' th:object="${myPosition}">

    <p>縦(0~4)<br>
    <input type="text" name="vertical" th:field="*{vertical}"></p>
    <p>横(0~4)<br>
    <input type="text" name="side" th:field="*{side}"></p>
    <ul>
        <li th:each="error:${#fields.detailedErrors()}">
            <span th:text="${error.message}">Error message</span>
        </li>
    </ul>
    <button type='submit'>送信する</button>
</form>
</body>
</html>